Memberships
*User should see link for Basic plan on home page.
*User should see link for Pro plan on home page.
*Basic plan link should point to regular Devise sign-up form.
*Pro plan link should point to a custom sign-up form that collects credit card info.

Need to know:
ActiveRecord
Parameters
Substitution

*Stripe Integration involves 2 tokens
* Modify User Database to store Users Stripe Customer token/id
* Javascript should prevent Pro form from submitting, when user fills it out,
* and should send card info to Stripe
* Initial Card token is sent from Stripe in return. (shopping cart & online stores, one time use and forget about it)
* Javascript send Rails customer email, password, plan for validation & noting of plan
* Once validated, Rails send user info (email, plan id) with initial card token to Stripe for customer's 
*subscription creation.
* Stripe charges customer with first token, creates actual subscription and THEN sends us a Customer token.
* Rails save customer token and user information to database.
* (We can use that Customer token to use over and over as needed with the subscription
