Memberships
*User should see link for Basic plan on home page.
*User should see link for Pro plan on home page.
*Basic plan link should point to regular Devise sign-up form.
*Pro plan link should point to a custom sign-up form that collects credit card info.

Need to know:
ActiveRecord
Parameters
Substitution

*Stripe Integration involves 2 tokens
* Modify User Database to store Users Stripe Customer token/id
* Javascript should prevent Pro form from submitting, when user fills it out,
* and should send card info to Stripe
* Initial Card token is sent from Stripe in return. (shopping cart & online stores, 
* one time use and forget about it)
* Javascript send Rails db hidden token, customer email, password fields, & rails also notes plan id
* not card info
* Once validated, Rails send user info (email, plan id) with initial card token to Stripe for customer's 
* subscription creation.
* Stripe charges customer with first token, creates actual subscription and THEN sends us a Customer token.
* Rails save this new customer token and user information to database.
* (We can use that Customer token to use over and over as needed with the subscription

User Profiles
*Each user should have 1 profile.
*User should see a linkto a new profile form upon signing up.
*User should be able to create and view their user profile.
*User profile should have a profile picture.
*Users should be able to view all profiles.

*Checking for valid card numbers in Google developer console
*$('#card_number').val()
*"4111111111111111"
*var ccNum = $('#card_number').val()
*undefined
*ccNum
*"4111111111111111"
*Stripe.card.validateCardNumber(ccNum)
*true
*var ccNum = $('#card_number').val()

*undefined
*ccNum
*"41111111"
*Stripe.card.validateCardNumber(ccNum)
*false