<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <<p>You have received a message from Devmatch's contact form, from 
    <%= "#{ @name}, #{ @name}." %></p>
    <p><%= @body %></p>
  </body>
</html>