/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";
 
 // Topography Styles
h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  margin-top: 1em;
}

// Background Gradient
.navbar, .home-callout {
  //Gradient provided by @_ighosh at uigradients.com
  background: #c2e59c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64b3f4, #c2e59c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

// Nav Styles
.navbar {
  border: none;
}

.navbar-brand {
  font-family: 'Open Sans", sans-serif';
  font-weight: 800;
}
.navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
  color: #e642c8;
  &:hover {
    color: #ff94ff;
    opacity: 0.75;
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffe0;
}

.navbar-default .navbar-toggle {
  border: 5px solid light-gray; 
  &:hover, &:focus {
    background-color: #ff94ff;
  }
}

// Home Page Styles
.home-callout {
  color: white;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 60px;
}

.flash-container {
  position: absolute;
  width: 100%;
  height: .2em;
  opacity: 0.5;
}

.alert-notice, .alert-alert {
  text-align: center;
  background: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.5);
  margin-top: -20px;
  margin-bottom: 20px;
}


.home-signup-links {
  margin-top: 30px;
}