.avatar-show-img {
  width: 136px;
  height: 128px;
}

.well.profile-block {
  color: #fff;
  h3 {
      margin-top:0;
  }
}

.well.profile-about {
  background-color: #57b292;
  border-color: #47a583;
  
}

.well.profile-contact {
  background-color: #5bc0de;
  border-color: #46b8da;
}